.footer {
  margin: 10px 5px;
}

.footer p,
.footer a {
  font-size: 0.85rem;
}

.footer a {
  color: var(--accent-color);

  text-decoration: none;

  transition: 
    background-color 0.2s ease,
    color 0.2s ease;
}

.footer a:hover {
  background-color: var(--hover-color);
  color: var(--color-text);
}