.nav {
  margin: 25px 10px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  list-style-type: none;
}

.nav__list a {
  color: var(--accent-color);
  font-size: 1.15rem;
  text-decoration: none;
}

.nav__list li {
  will-change: transform, padding;
  transition: 
    transform 0.2s ease-in-out,
    padding 0.45s ease;
}

.nav__list li:hover {
  padding: 0 15px;
  transform: scale(1.1);
}